input {
    height:70px;
    width:700px;
    /*margin: 30px;*/
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

button {
    background: red;
    color: white;
    height: 70px;
    width: 200px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}